<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h3>value of Number is {{num}}</h3>
<h3>value of randNum is: {{randNum}}</h3>
<h3>{{str}}</h3>
<h4>Find a task below with this thing:</h4>
<input type="text" [value]="first_name" (keydown)="lookUpTask($event)"/>
<!-- <div *ngFor="let task of tasks">
  <p>{{task.title}}</p>
  <p>{{task.desc}}</p>
</div> -->
<!-- <button (click)="onButtonClick()">Click Test</button>
<button (click)="onButtonClickParam(6)">Should be 6</button>
<button (click)="onButtonClickParams(5, 'hello')">Should be 5 hello</button>
<button (click)="onButtonClickEvent($event)">Should be event</button> --><br><br>
<button (click)="getTasksFromService()">Get all the tasks</button>
<div *ngIf="tasks">
  <div *ngFor="let task of tasks">
    <h2 class="taskDisplay">{{task.data.title}}</h2>
    <h3 *ngIf="task.viewed == true" class="task Description">{{task.data.desc}}</h3>
    <button (click)="showTaskDesc(task.data._id)">Show Description</button>
  </div>
</div>
<router-outlet></router-outlet>
